<% content_for :title do %>mustDash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Notice Board" data-text="This is your shiny new dashboard." data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="numdefects" data-view="Number" data-title="Number of Defects in Last 24h" data-moreinfo=""></div>
      <i class="icon-calendar icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="Jenkins" data-title="Master Branch" data-moreinfo=""></div>
      <i class="icon-calendar icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="exchange_calendar" data-view="ExchangeCalendar" data-title="" style="background-color:#4183C5;"></div>
      <i class="icon-calendar icon-background"></i>
    </li>
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
